/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'geist',sans-serif;
    scroll-behavior:smooth;
}
body{
    background:#ffffff;
    color:#000000;
    overflow-x:hidden;
}
img{
    width:100%;
    display:block;
}
a{
    text-decoration:none;
}
.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}
/*NAVBAR*/
header{
    background-color: #0E5E30;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:10px 4%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:999;
    transition:.4s;
}
header.scrolled{
    background:#ffffff;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}
.logo{
    display:flex;
    align-items:center;
    gap:20px;
}
.logo img{
    width:40px;
}
.logo h3{
    color:#ffffff;
    font-size:14px;
    font-weight: 550;
    transition:.3s;
    margin-bottom: 5px;
}
.logo p{
    color:#ffffff;
    font-size:14px;
    font-weight: -10;
    transition:.3s;
}
header.scrolled h3,
header.scrolled p{
    color:#000000;
}
nav{
    display:flex;
    gap: 35px;
}
nav a{
    color:#ffffff;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}
header.scrolled nav a{
    color:#000000;
}
nav a:hover{
    color:#2A7B46;
}
/*COVER*/
.cover{
    position:relative;
    height:100vh;
    overflow:hidden;
}
.cover-image{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}
.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
}
.cover-content{
    position:absolute;
    left: 6%;
    bottom: 100px;
    color:#ffffff;
    max-width:900px;
    z-index:10;
}
.cover-content h1{
    font-size:50px;
    line-height: 1.2;
    margin-bottom:20px;
    font-weight: 500;
}
.cover-content p{
    font-size:20px;
    line-height: 1;
}
/* SAMBUTAN */
.sambutan{
    padding:90px 0;
}
.sambutan .container{
    display:grid;
    grid-template-columns:320px 1fr;
    gap:60px;
    align-items:center;
}
.kepala{
    text-align:center;
}
.kepala img{
    width:260px;
    margin:auto;
}
.isi h2{
    color:#000000;
    font-size:40px;
    margin-bottom:25px;
    font-weight: 500;
}
.isi p{
    color:#000000;
    line-height:1.5;
    text-align: justify;
    margin-bottom:15px;
}
/*SEJARAH*/
.sejarah{
    background:#0E5E30;
    padding:30px 0;
}
.sejarah h2{
    font-size:40px;
    color:#ffffff;
    font-weight: 500;
    margin-bottom:25px;
}
.sejarah p.profil{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}
.sejarah p.isi{
    line-height:1.5;
    color:#ffffff;
    text-align: justify;
    margin-bottom:18px;
}
/*JAMI*/
.jami{
    height: fit-content;
}
.jami img{
    width:100%;
    height:100%;
    object-fit:cover;
}
/*LOKASI*/
.lokasi{
    padding:90px 0;
}
.lokasi-grid{
    display:grid;
    grid-template-columns:1fr 1.2fr;
    gap:90px;
    align-self: start;
}
.lokasi h2{
    font-size:40px;
    color:#000000;
    font-weight: 500;
    margin-bottom:20px;
}
.lokasi p{
    color:#000000;
    line-height:1.5;
    text-align: justify;
    margin-bottom:25px;
}
.lokasi .tombol{
    display:inline-block;
    padding:10px 20px;
    background:#0E5E30;
    color: #ffffff;
    border-radius:40px;
    transition:.3s;
    font-size: 12px;
    font-weight:500;
    margin-top: 12%;
}
.lokasi .tombol:hover{
    background:#158b49;
    transform:translateY(-3px);
}
iframe{
    border-radius:18px;
    box-shadow:0 15px 40px rgba(0,0,0,.12);
}
.peta-image{
    max-width:1200px;
    margin:auto;
    border-radius:18px;
    box-shadow:0 15px 35px rgba(0,0,0,.1);
}
/*STATISTIK*/
.statistik{
    padding:100px 0;
    background:#0E5E30;
}
.statistik h2{
    font-size:40px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom:45px;
    text-align: center;
}
.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:50px;
}
.card{
    background:#ffffff;
    padding:45px 30px;
    border-radius:20px;
    margin-bottom: 30px;
}
.card h1{
    color:#0E5E30;
    font-size:100px;
    font-weight: 600;
    margin-bottom:20px;
}
.card p.orang{
    color: #000000;
    font-weight: 300;
}
.card p.kategori{
    color:#000000;
    font-size:20px;
}
/*STRUKTUR*/
.struktur{
    padding:100px 0;
    background:#ffffff;
    text-align:center;
}
.struktur h2{
    font-size:40px;
    color:#000000;
    font-weight: 500;
    margin-bottom: 35px;
}
.struktur img{
    max-width:1200px;
    margin:auto;
    border-radius:18px;
    box-shadow:0 15px 35px rgba(0,0,0,.1);
}
/*RAYO*/
.rayo{
    height: fit-content;
}
.rayo img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
/*ONOM*/
.onom{
    background:#0E5E30;
    padding:30px 0;
}
.onom h2{
    font-size:40px;
    color:#ffffff;
    font-weight: 500;
    margin-bottom: 10px;
}
.onom p.profil{
    font-size: 20px;
    color: #ffffff;
    margin-top: -70px;
}
.onom p.isi{
    line-height:1.5;
    color:#ffffff;
    text-align: justify;
    margin-bottom:60px;
}
/*BERITA*/
.berita{
    padding:100px 0;
    background:#ffffff;
    text-align:center;
}
.berita h2{
    font-size:40px;
    color:#000000;
    font-weight: 500;
    margin-bottom:60px;
}
.berita .cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-bottom:50px;
}
.berita-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.35s;
}
.berita-card:hover{
    transform:translateY(-8px);
}
.berita-card img{
    height:240px;
    object-fit:cover;
}
.berita-card h3{
    padding:20px;
    color:#000000;
}
.berita-card p{
    padding:0 20px 25px;
    color:#000000;
    line-height:1.8;
}
.berita .tombol{
    display:inline-block;
    padding:10px 20px;
    background:#0E5E30;
    color:#ffffff;
    border-radius:40px;
    transition:.3s;
    font-size: 12px;
    font-weight:500;
    margin-bottom: 60px;
}
.berita .tombol:hover{
    background:#158b49;
    transform:translateY(-3px);
}
/*GALERI*/
.galeri{
    padding:50px 0;
    background:#ffffff;
    text-align:center;
}
.galeri h2{
    font-size:40px;
    color:#000000;
    font-weight: 500;
    margin-bottom:10px;
    text-align: left;
}
.galeri p{
    font-size:18px;
    color:#000000;
    margin-bottom:30px;
    text-align: left;
}
.gambar{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
    margin-bottom:45px;
}
.gambar img{
    height:260px;
    object-fit:cover;
    border-radius:15px;
    transition:.35s;
    cursor:pointer;
}
.gambar img:hover{
    transform:scale(1.05);
}
.galeri .tombol{
    display:inline-block;
    padding:10px 20px;
    background:#0E5E30;
    color:#ffffff;
    border-radius:40px;
    transition:.3s;
    font-size: 12px;
    font-weight:500;
    margin-bottom: 50px;
}
.galeri .tombol:hover{
    background:#158b49;
    transform:translateY(-3px);
}
/*FOOTER*/
.footer{
    padding:0px 0;
    background-color: #0E5E30;
}
.footer .container{
    display:grid;
    grid-template-columns:320px 1fr;
    gap:700px;
    align-items: center;
}
.footer-img{
    text-align:center;
}
.footer-img img{
    width:1000px;
    margin-left: -100px;
}
.footer-menu{
    width:250px;
}
.footer-menu h2{
    color:#ffffff;
    font-size:16px;
    font-weight:550;
    margin-bottom:16px;
}
.footer-menu ul{
    list-style:none;
}
.footer-menu ul li{
    margin-bottom:10px;
}
.footer-menu ul li a{
    color:#ffffff;
    text-decoration:underline;
    font-size:14px;
    transition:.3s;
}
.footer-menu ul li a:hover{
    color:#000000;
}
/* Responsive */

@media(max-width:1100px){

.footer-container{

grid-template-columns:1fr;

row-gap:45px;

}

.copyright{

width:100%;

max-width:300px;

}

}

@media(max-width:768px){

.footer{

padding:50px 30px;

}
.footer h2{
font-size:22px;
}
.footer p{
font-size:16px;
}
.footer-logo img{
width:80px;
}
}
/* ===========================
RESPONSIVE
=========================== */
@media(max-width:991px){
.cover-content h1{
font-size:42px;
}
.sambutan .container,
.lokasi-grid,
.cards,
.berita .cards,
.gambar,
.footer-grid{
grid-template-columns:1fr;
}
nav{
display:none;
}
.jami{
height:350px;
}
.rayo{
height:420px;
}
.onom h2{
font-size:36px;
}
}
@media(max-width:600px){
.cover-content{
bottom:80px;
left:30px;
right:30px;
}
.cover-content h1{
font-size:32px;
}
.cover-content p{
font-size:16px;
}
.isi h2,
.sejarah h2,
.lokasi h2,
.statistik h2,
.struktur h2,
.berita h2,
.galeri h2{
font-size:28px;
}
.card h1{
font-size:38px;
}
.onom-content h2{
font-size:30px;
}
.galeri img{
height:200px;
}
header{
padding:15px 20px;
}
.logo img{
width:45px;
}
.logo h3{
font-size:16px;
}
.logo p{
font-size:12px;
}
}